/* Sidebar */
.offcanvas.offcanvas-start {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    z-index: 1030;
    padding: 1rem;
}

.sidebar-menu {
    list-style-type: none;
    padding-left: 0;
}

.sidebar-item {
    text-decoration: none;
    color: black;
}

/* Main Content */

.main-content {
    margin-left: 250px;
    padding: 2rem;
}

/* Optional: Hide the close button */
.sidebar .btn-close {
    display: none;
}

/* Toast alert messages*/
.toast {
    transform: translateX(120%);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.toast.show {
    transform: translateX(0);
    opacity: 1;
}

.toast.hide,
.toast:not(.show) {
    transform: translateX(120%);
    opacity: 0;
}